<ion-header>
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Negocios
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="logo_notificacion" size="large" name="notifications-outline"
            [routerLink]="['/notificacion']"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="border">
        <ion-col size="2">
          <img [src]="data_user.foto" class="img_perfil padding_img">
        </ion-col>
        <ion-col size="8">
          <ion-searchbar animated placeholder="Buscar" [(ngModel)]="searchtxt" (input)="search()"></ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="padding_img" (click)="open_form()" size="large" name="photos"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="100">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="border" *ngFor="let item of list_negocios">
      <ion-col size="12" class="border">
        <ion-grid>
          <ion-row>
            <ion-col size="10">
              <img [src]="item.user.foto" class="img_perfil" />
              <span class="titulo">
                {{ item.user.username }}
              </span>
            </ion-col>
            <!-- <ion-col size="8">
              <ion-text color="dark">
                
              </ion-text>
            </ion-col> -->
            <ion-col size="2" style="padding: 0;">
              <ion-icon class="icon_list" size="large" name="arrow-dropdown"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="12">
        <ion-text color="dark">
          <p>{{ item.descripcion }}</p>
        </ion-text>
        <div class="ion-text-center" (click)="open_view(item, 'img')">
          <h3><img [src]="item.foto" /></h3>
        </div>
      </ion-col>
      <ion-col size="12">
        <ion-text color="dark">
          <h6>{{ item.megusta + " Me gusta" }} <span class="titulo">{{ item.coun_comentario + " comentarios" }}</span>
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="dark">
          <h6>
            <ion-icon (click)="open_view(item, 'megusta')" size="samll" name="heart-empty"></ion-icon><span>Megusta</span>
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text color="dark">
          <h6>
            <ion-icon (click)="open_view(item, 'comentar')" size="samll" name="text"></ion-icon> <span>Comentar</span>
          </h6>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-text colo="dark">
          <h6>
            <ion-icon (click)="open_view(item, 'compartir')" size="samll" name="share-alt"></ion-icon> <span>Conpartir</span>
          </h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-card *ngFor="let item of list_negocios" (click)="open_form(item)">
    <img [src]="item.foto" />
    <ion-card-header>
      <ion-card-subtitle>
          <ion-icon class="ion-padding" size="large" slot="start" name="heart-empty"></ion-icon>
      </ion-card-subtitle>
      <ion-card-title>{{ item.titulo }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item.descripcion }}
    </ion-card-content>
  </ion-card> -->
</ion-content>