<ion-header>
  <ion-toolbar color="success">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-buttons>
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-col>
        <ion-col size="8">
          <ion-title class="ion-padding-top">
            Subastas
          </ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-button color="success" [routerLink]="['/notificacion']">
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      Productos de Subastas
    </ion-list-header>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullMin="100" pullMax="100">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <ion-item *ngFor="let item of list_subasta" (click)="opent_chat(item)">
      <ion-avatar slot="start">
        <img [src]="item.articulo.foto">
      </ion-avatar>
      <ion-label>
        <h2>{{ item.articulo.titulo }}</h2>
        <h3>{{ "Usuario "+item.creado.username }}</h3>
        <p>{{ "Ofrece "+item.ofrece }}</p>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>